<manifest package="com.caro.smartmodule"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <!--camara-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <!--storage-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="label">

        <!--android:name="xx" xx必须写包名全路径。不然加载时加载不到-->
        <!--  tools:node="remove"-->
        <meta-data
            android:name="com.caro.smartmodule.ImageLoader.SmartGlideModule"
            android:value="GlideModule"/>


        <activity
            android:name="com.caro.smartmodule.zxing.CaptureActivity"
            android:theme="@style/DefaultAppTheme"
            android:screenOrientation="portrait">
        </activity>



    </application>

</manifest>
